/* ==========================================================================
   [Start] All Style Form
========================================================================== */
input[type='text'],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
textarea, select {
	height: 40px;
	padding: 0 20px;
	color: #d1d1d1;
	border: 1px #ececec solid;
    width: 100%;
    line-height: normal;
}

textarea {
    height: 240px;
    max-height: 240px;
    max-width: 100%;
	padding-top: 10px;
	
}
input[type='text']:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
textarea:focus {
    border: 1px solid #141414;
    background-color: inherit;
}

.form-group {
    margin-bottom: 10px;
}
/** Contact Form 7 */
.wpcf7-form {
    .wpcf7-form-item {
        margin-bottom: 24px;
    }
    input[type='text'],
    input[type="password"],
    input[type="datetime"],
    input[type="datetime-local"],
    input[type="date"],
    input[type="month"],
    input[type="time"],
    input[type="week"],
    input[type="number"],
    input[type="email"],
    input[type="url"],
    input[type="search"],
    input[type="tel"],
    input[type="color"],
    textarea, select {
		height: 40px;
		margin-bottom: 30px;
		padding: 0 20px;
		color: #d1d1d1;
		border: 1px #ececec solid;
    }
    textarea {
        height: 195px;
		padding-top: 10px;
    }
	input[type="submit"]{
		padding: 5px 30px;
		color: rgb(255, 255, 255);
		font-weight: 700;
		@extend .zo_extra_font2;
		letter-spacing: 0.075em;
		font-size: 14px;
		line-height: 28px;
		&:hover, &:focus{
			color: #111;
		}
	}
    .form-action {
        text-align: right;
        .wpcf7-form-control {
            float: right;
        }
		.wpcf7-submit{
			letter-spacing: 0.4em;
			font-size: 14px;
			padding: 19px 38px ;
			line-height: 1.1;
			&:hover, &:focus{
				background: #fff !important;
				color: #111;
			}
		}
    }
    .wpcf7-form-control-wrap {
        display: block;
        .wpcf7-textarea + .wpcf7-not-valid-tip{
            bottom: -1px;
        }
    }
    .wpcf7-not-valid-tip {
        font-size: 12px;
        position: absolute;
        right: 15px;
        bottom: 3px;
        color: $primary_color;
    }
    .wpcf7-validation-errors {
        display: block;
        text-align: center;
        margin: 20px 0 0;
        border: 1px solid $primary_color;
        color: #FFF;
    }
    .wpcf7-response-output {
        text-align: center;
    }
	.col-2{
		width: 50%;
		float: left;
		&.last{
			padding-left: 15px;
		}
		&.fisrt{
			padding-right: 15px;
		}
	}
}

/* ==========================================================================
   [End] All Style Form
========================================================================== */